body {
  max-height: 100vh;
  margin-top: -20px;
  overflow: hidden;
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

#clock {
  display: flex;
  justify-content: center;
}

#weather {
  margin-top: 10px;
  margin-left: -58px;
  margin-right: -58px;
  display: flex;
  justify-content: center;
  background: rgba(153, 153, 153, 0.3);
}

#todolist {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}