body {
  max-height: 100vh;
  overflow: hidden;
  padding: 0px;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: sans-serif;
  background-color: rgba(153, 153, 153, 0.3);
}