.todoListMain {
    width: 80%;
}

.todoListHeader input {
    margin-top: 10px;
    font-size: 26px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    text-align: center;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-align: center;
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-align: center;
    color: white;
}

input:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
}

.todoListBody {
    height: 30vh;
    width: 100%;
    overflow-y: auto;
}

.listEntries {
    list-style: none;
    padding-left: 0;
    width: 100%;
} 

.listEntries li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    width: 96%;
    font-size: 16px;
}

.listEntries li:hover {
    background-color: pink;
    cursor: pointer;
}

.listButton {
    float: right;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.itemDate {
    color: #999;
    margin-right: 20px;
    font-size: 12px;
}