@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.weatherDisplay {
    font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
    height: 350px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    text-align: center;
    color: white;
}

.currentCondition {
    padding-top: 5px;
    margin-left: -10px;
    height: 100%;
    width: 22%;
    float: left;
    overflow: hidden;
    background-color: rgba(153, 153, 153, 0.3);
}

.topBar {
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    overflow-y: hidden;
    border-bottom: white 1px solid;
}

#c1 {
    float: left;
    width: 10%;
} 

#c2 {
    float: left;
    width: 80%;
    padding-left: 5px;
} 

#c3 {
    float: left;
    width: 10%;
    margin-left: -5px;
}

.weekForecast {
    padding-top: 5px;
    height: 100%;
    width: 78%;
    float: left;
    overflow: hidden;
    background-color: rgba(153, 153, 153, 0.3);
}

.forecastItem {
    height: 100%;
    width: calc(96% / 6);
    float: left;

    display: flex;
    flex-direction: row;
}

.forecastDay {
    width: 100%;
}

.weatherLocation {
    font-size: 24px;
    font-weight: 700;

}

.weatherDay {
    font-size: 30px;
    font-weight: 300;
}

.weatherDate {
    font-size: 24px;
    font-weight: 700;
}

.weatherIconCurrent {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 150px;
}

.weatherIcon {
    margin-top: 30px;
    font-size: 70px;
}

.weatherCurrent {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -2px;
    font-size: 60px;
    font-weight: 300;
}

.weatherTemp {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    vertical-align: middle;
}

.weatherHigh {
    font-size: 24px;
}

.weatherText {
    font-weight: 300;
    font-size: 18px;
}

.locationButton {
    vertical-align: top;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 26px;
    color: slategray;
    margin-top: -4px;
}

.locationButton:hover {
    color: darkslategray;
}

.refreshButton {
    vertical-align: top;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    color: slategray;
}

.refreshButton:hover {
    color: darkslategray;
}

.locationForm {
    display: inline;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-align: center;
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-align: center;
    color: white;
}

input:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
}

.weatherLocation input {
    font-size: 24px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: white 1px solid;
    outline: none;
    text-align: center;
    width: 80%;
}